@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* Cores primárias */

    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Cores neutras */

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Fontes */

    --fonte1: 'Fraunces', serif;
    --fonte2: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cream);
    display: flex;
    flex-flow: column wrap;
    justify-items: space-between;
    align-items: center;
    padding-top: 45px;
}

.container {
    height: 90vh;
    width: 450px;
    background-color: var(--white);
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    border-radius: 10px;
}

.img {
    background: url(../images/image-product-mobile.jpg) no-repeat center top;
    background-size: cover;
    height: 35%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

h1, p {
    text-align: center;
}

h2, p {
    font-family: var(--fonte2);
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    align-self: flex-start;
    margin: 30px;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 2.8em;
    font-weight: 700;
    font-family: var(--fonte1);
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

p {
    color: var(--dark-grayish-blue);
    font-size: 18px;
    text-align: left;
    margin: 0 30px 30px;
}

.preco {
    display: flex;
    align-items: center;
}

.preco h1 {
    color: var(--dark-cyan);
}

.preco p {
    text-decoration: line-through;
}

.botao {
    display: flex;
    background-color: var(--dark-cyan);
    width: 85%;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
}

.botao img {
    width: 20px;
    height: 20px;
}

.botao p {
    color: var(--white);
    font-size: 1.2em;
    align-self: center;
    margin: 0;
    margin-left: 10px;
}

/* Footer */
footer {
    padding-top: 33px;
    height: 12px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1200px) {
    body {
        height: 98vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        padding: 0;
    }

    .container {
        flex-flow: column wrap;
        margin: auto;
        height: 600px;
        width: 900px;
        padding-right: 60px;
    }

    .img {
        background: url(../images/image-product-desktop.jpg) no-repeat center center;
        height: 100%;
        width: 50%;
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }

    h1 {
        width: 50%;
    }

    h2 {
        width: 50%;
    }

    p {
        width: 50%;
        padding: 30px 0;
    }

    .preco {
        width: 50%;
    }

    .botao {
        width: 50%;
        padding-left: 50px;
    }
}